{% extends 'base.html.twig' %}

{% block title %}Hello EntrepriseController!{% endblock %}

{% block body %}
  <h1>liste de l'entreprise</h1>


  <a href="{{  path ('add_entreprise') }}">Ajouter une entreprise</a> <br>
{% for entreprise in entreprises %}
  <a href=" {{ path ('show_entreprise',{'id':entreprise.id}) }}"> {{ entreprise.raisonSocial }} </a>
    {{  '('~ entreprise.ville ~')' ~ '('~ entreprise.codePostal ~')'  }} 
    <a href="{{ path ('edit_entreprise',{'id': entreprise.id}) }}">Edit</a>
    <a href="{{ path ('delete_entreprise',{'id': entreprise.id}) }}">Delete</a><br>
  

{% endfor %}
{% endblock %}
