{% extends 'base.html.twig' %}

{% block title %}Hello EmployeController!{% endblock %}

{% block body %}

<h1>ville : {{ employe.ville }}</h1>
    
  Entreprise : {{ employe.entreprise }} <br>
  Date d'embouche : {{  employe.dateEmbouche  }}  <br>
  Date Naissance : {{ employe.dateNaissance  | date('d-m-y') }} <br>

  Age  : {{ employe.age }}

{% endblock %}
